<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- fix loi 404 woff2-->
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />

      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    
    <!-- fix loi 404 khi F5 browser-->
    <rewrite>
      <rules>
        <rule name="Ng Route" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/api(.*)$" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/signalr(.*)$" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
