<div bsModal #modal="bs-modal" (onShown)="onShown()" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #menuForm="ngForm" novalidate (ngSubmit)="save()">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>Thông tin menu</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <dx-form #detailForm [(formData)]="menuData" validationGroup="formValidateGroup" colCount="2">
                        <dxi-item dataField="name" [colSpan]="1">
                            <dxo-label text="Tên menu"></dxo-label>
                            <dxi-validation-rule type="stringLength" [min]="5" [max]="200" message="Tên menu từ 5 đến 200 kí tự"></dxi-validation-rule>
                            <dxi-validation-rule type="required" message="Tên menu không được để trống"></dxi-validation-rule>
                        </dxi-item>
                        <dxi-item dataField="title" [colSpan]="1">
                            <dxo-label text="Tên hiển thị"></dxo-label>
                            <dxi-validation-rule type="stringLength" [min]="5" [max]="200" message="Tên hiển thị từ 5 đến 200 kí tự"></dxi-validation-rule>
                            <dxi-validation-rule type="required" message="Tên hiển thị không được để trống"></dxi-validation-rule>
                        </dxi-item>
                        <dxi-item dataField="index" [colSpan]="1" editorType="dxSelectBox" [editorOptions]="menuIndexOptions">
                            <dxo-label text="Thứ tự"></dxo-label>
                        </dxi-item>
                        <dxi-item dataField="type" [colSpan]="1" editorType="dxSelectBox" [editorOptions]="menuTypeOptions">
                            <dxo-label text="Loại"></dxo-label>
                        </dxi-item>
                        <dxi-item dataField="parent" [colSpan]="1" editorType="dxSelectBox" [editorOptions]="parentOptions">
                            <dxo-label text="Cấp trên"></dxo-label>
                        </dxi-item>
                        <dxi-item dataField="icon" [colSpan]="1">
                            <dxo-label text="icon"></dxo-label>
                        </dxi-item>
                        <dxi-item dataField="link" [colSpan]="1">
                            <dxo-label text="Đường dẫn"></dxo-label>
                        </dxi-item>
                        <dxi-item dataField="isDelimiter" [colSpan]="1" editorType="dxCheckBox">
                            <dxo-label text="Phân cách"></dxo-label>
                        </dxi-item>
                        <dxi-item dataField="requiredPermissionName" [colSpan]="1" editorType="dxSelectBox" [editorOptions]="permissionOptions">
                            <dxo-label text="Phân quyền"></dxo-label>
                        </dxi-item>
                        <dxi-item dataField="description" [colSpan]="2" editorType="dxTextArea" [editorOptions]="{ height: 100 }">
                            <dxo-label text="Mô tả"></dxo-label>
                        </dxi-item>                        
                    </dx-form>
                    <!-- Dynamic Fields  -->
                    <dynamicModule #dynamicModule [(link)]="link" [(parameters)]="parameters"></dynamicModule>                          
                    <!-- End Dynamic Fields -->
                </div>

                <div class="modal-footer">
                    <dx-button text="Lưu" icon="fa fa-save" type="success" [useSubmitBehavior]="true" validationGroup="formValidateGroup"></dx-button>
                    &nbsp;
                    <dx-button text="Trở về" icon="fa fa-arrow-left" (onClick)="close()"></dx-button>
                </div>
            </form>
            
        </div>
    </div>
</div>

