@media only screen and (max-width: 1200px) {
    .card-content {
        padding: 15px 20px;
        margin-right: 17px;
        .category {
            margin-bottom: 0;
            font-size: 15px;
        }
    }
}
@media only screen and (max-width: 1368px) {
    .card-content {
        padding: 15px 20px;
        .category {
            margin-bottom: 0;
            font-size: 18px;
        }
    }
}
:host /deep/ .card-component {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 25px 0;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.87);
    background: #fff;
    /deep/ .card-height-indicator {
        margin-top: 100%;
    }
    /deep/ .title {
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 15px;
    }
    /deep/ .row-space .header {
        padding: 15px 20px 0;
    }
    /deep/ .card-image {
        height: 60%;
        position: relative;
        overflow: hidden;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: -30px;
        border-radius: 6px;
    }
    
    /deep/ .card-image img {
        width: 100%;
        height: 100%;
        border-radius: 6px;
        pointer-events: none;
    }
    
    /deep/ .card-image .card-title {
        position: absolute;
        bottom: 15px;
        left: 15px;
        color: #fff;
        font-size: 1.3em;
        text-shadow: 0 2px 5px rgba(33, 33, 33, 0.5);
    }
    
    /deep/ .category:not([class*="text-"]) {
        color: black;
        font-weight: bold;
    }
    
    /deep/ .card-content {
        padding: 15px 20px;
        /deep/ .category {
            margin-bottom: 0;
            font-size: 19px;
        }
    }
    
    /deep/ .card-header {
        box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
        margin: -20px 15px 0;
        border-radius: 3px;
        // padding: 15px;
        padding: 0px;
        background-color: #999999;
        /deep/ .title {
            color: #FFFFFF;
        }
        /deep/ .category {
            margin-bottom: 0;
            color: rgba(255, 255, 255, 0.62);
        }
        /deep/ .card-chart {
            padding: 0;
            min-height: 160px;
        }
        /deep/ .card-chart+.content h4 {
            margin-top: 0;
        }
        /deep/ .ct-label {
            color: rgba(255, 255, 255, 0.7);
        }
        /deep/ .ct-grid {
            stroke: rgba(255, 255, 255, 0.2);
        }    
    } 
    /deep/ .card-header .ct-series-a .ct-point,
    .card-header .ct-series-a .ct-line,
    .card-header .ct-series-a .ct-bar,
    .card-header .ct-series-a .ct-slice-donut {
        stroke: rgba(255, 255, 255, 0.8);
    }
    
    /deep/ .card-header .ct-series-a .ct-slice-pie,
    .card-header .ct-series-a .ct-area {
        fill: rgba(255, 255, 255, 0.4);
    }
    
    /deep/ .chart-title {
        position: absolute;
        top: 25px;
        width: 100%;
        text-align: center;
    }
    
    /deep/ .chart-title h3 {
        margin: 0;
        color: #FFFFFF;
    }
    
    /deep/ .chart-title h6 {
        margin: 0;
        color: rgba(255, 255, 255, 0.4);
    }
    
    /deep/ .card-footer {
        margin: 0 20px 10px;
        padding-top: 10px;
        border-top: 1px solid #eeeeee;
        .content {
            display: block;
        }
    }
    
    /deep/ .card-footer div {
        display: inline-block;
        /deep/ .author {
            color: #999999;
        }
        /deep/ .stats {
            line-height: 22px;
            color: #999999;
            font-size: 12px;
        }
        /deep/ .stats .material-icons {
            position: relative;
            top: 4px;
            font-size: 16px;
        }
    }

    /deep/ .card-footer h6 {
        color: #999999;
    }
    
    /deep/ .card img {
        width: 100%;
        height: auto;
    }
    
    /deep/ .category .material-icons {
        position: relative;
        top: 6px;
        line-height: 0;
    }
    
    /deep/ .category-social .fa {
        font-size: 24px;
        position: relative;
        margin-top: -4px;
        top: 2px;
        margin-right: 5px;
    }
    
    /deep/ .author .avatar {
        width: 30px;
        height: 30px;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 5px;
    }
    
    /deep/ .author a {
        color: #3C4858;
        text-decoration: none;
    }
    
    /deep/ .author a .ripple-container {
        display: none;
    }
    
    /deep/ .table {
        margin-bottom: 0;
    }
    
    /deep/ .table tr:first-child td {
        border-top: none;
    }
    
    /deep/ [data-background-color="purple"] {
        background: linear-gradient(60deg, #ab47bc, #8e24aa);
        box-shadow: 0 12px 20px -10px rgba(156, 39, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(156, 39, 176, 0.2);
    }
    
    /deep/ [data-background-color="blue"] {
        background: linear-gradient(60deg, #26c6da, #00acc1);
        box-shadow: 0 12px 20px -10px rgba(0, 188, 212, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(0, 188, 212, 0.2);
    }
    
    /deep/ [data-background-color="green"] {
        background: linear-gradient(60deg, #66bb6a, #43a047);
        box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
    }
    
    /deep/ [data-background-color="orange"] {
        background: linear-gradient(60deg, #ffa726, #fb8c00);
        box-shadow: 0 12px 20px -10px rgba(255, 152, 0, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(255, 152, 0, 0.2);
    }
    
    /deep/ [data-background-color="red"] {
        background: linear-gradient(60deg, #ef5350, #e53935);
        box-shadow: 0 12px 20px -10px rgba(244, 67, 54, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(244, 67, 54, 0.2);
    }
    /deep/ [data-background-color] {
        color: #FFFFFF;
    }
    
    /deep/ [data-background-color] a {
        color: #FFFFFF;
    }
}

:host /deep/.card-stats {
    /deep/.title {
        margin: 0;
        font-weight: bold;
        color: #c82333;
    }
    /deep/.card-header {
        float: left;
        text-align: center;
        // padding-left: 0px;
        // padding-top: 0px;
        // padding-bottom: 0px;
        // padding-right: 0px;
    }
    
    /deep/.card-header i {
        // font-size: 36px;
        font-size: 20px;
        line-height: 56px;
        width: 56px;
        height: 56px;
    }
    
    /deep/.card-content {
        font-family: "'Roboto', 'Noto', sans-serif;";
        text-align: right;
        padding-top: 10px;
        margin-right: 17px;
        /deep/ .title {
            font-size: 30px;
        }
    }
    
}


.card-nav-tabs {
    /deep/.header-raised {
        margin-top: -30px;
    }
    /deep/.nav-tabs {
        background: transparent;
        padding: 0;
    }
    
    /deep/.nav-tabs-title {
        float: left;
        padding: 10px 10px 10px 0;
        line-height: 24px;
    }
    
}

.card-plain {
    background: transparent;
    box-shadow: none;
    /deep/.card-header {
        margin-left: 0;
        margin-right: 0;
    }
    
    /deep/.content {
        padding-left: 5px;
        padding-right: 5px;
    }
    
    /deep/.card-image {
        margin: 0;
        border-radius: 3px;
    }
    
    /deep/.card-image img {
        border-radius: 3px;
    }
}

.iframe-container {
    margin: 0 -20px 0;
}

.iframe-container iframe {
    width: 100%;
    height: 500px;
    border: 0;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card-profile,
.card-testimonial {
    margin-top: 30px;
    text-align: center;
}

.card-profile .btn-just-icon.btn-raised,
.card-testimonial .btn-just-icon.btn-raised {
    margin-left: 6px;
    margin-right: 6px;
}

.card-profile .card-avatar,
.card-testimonial .card-avatar {
    max-width: 130px;
    max-height: 130px;
    margin: -50px auto 0;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.card-profile .card-avatar+.content,
.card-testimonial .card-avatar+.content {
    margin-top: 15px;
}

.card-profile.card-plain .card-avatar,
.card-testimonial.card-plain .card-avatar {
    margin-top: 0;
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }
  
  #loader {
    /* Uncomment this to make it run! */
    /*
       animation: loader 5s linear infinite; 
    */
    
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
  }
  @keyframes loader {
    0% { left: -100px }
    100% { left: 110%; }
  }
  #box {
    width: 50px;
    height: 50px;
    background: #fff;
    animation: animate .5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
  }
  @keyframes animate {
    17% { border-bottom-right-radius: 3px; }
    25% { transform: translateY(9px) rotate(22.5deg); }
    50% {
      transform: translateY(18px) scale(1,.9) rotate(45deg) ;
      border-bottom-right-radius: 40px;
    }
    75% { transform: translateY(9px) rotate(67.5deg); }
    100% { transform: translateY(0) rotate(90deg); }
  } 
  #shadow { 
    width: 50px;
    height: 5px;
    background: #000;
    opacity: 0.1;
    position: absolute;
    top: 59px;
    left: 0;
    border-radius: 50%;
    animation: shadow .5s linear infinite;
  }
  @keyframes shadow {
    50% {
      transform: scale(1.2,1);
    }
  }
  
  .pulse {
    height: 100px;
    width: 200px;
    overflow: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .pulse:after {
    content: '';
    display: block;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 200px 100px" enable-background="new 0 0 200px 100px" xml:space="preserve"><polyline fill="none" stroke-width="3px" stroke="white" points="2.4,58.7 70.8,58.7 76.1,46.2 81.1,58.7 89.9,58.7 93.8,66.5 102.8,22.7 110.6,78.7 115.3,58.7 126.4,58.7 134.4,54.7 142.4,58.7 197.8,58.7 "/></svg>') 0 0 no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-animation: 2s pulse linear infinite;
    -moz-animation: 2s pulse linear infinite;
    -o-animation: 2s pulse linear infinite;
    animation: 2s pulse linear infinite;
      clip: rect(0, 0, 100px, 0);
  }
  .pulse:before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 2px;
    right: 2px;
    bottom: 0;
    top: 16px;
    margin: auto;
    height: 3px;
  
  }
  
  
  @-webkit-keyframes pulse {
    0% {
      clip: rect(0, 0, 100px, 0);
      opacity: 0.4;
    }
    4% {
      clip: rect(0, 66.66667px, 100px, 0);
      opacity: 0.6;
    }
    15% {
      clip: rect(0, 133.33333px, 100px, 0);
      opacity: 0.8;
    }
    20% {
      clip: rect(0, 300px, 100px, 0);
       opacity: 1;
    }
  
    80% {
      clip: rect(0, 300px, 100px, 0);
       opacity:0;
    }
  
    90% {
      clip: rect(0, 300px, 100px, 0);
      opacity: 0;
    }
  
    100% {
      clip: rect(0, 300px, 100px, 0);
      opacity:0;
   }
  }
  @keyframes pulse {
    0% {
      clip: rect(0, 0, 100px, 0);
    }
    4% {
      clip: rect(0, 66.66667px, 100px, 0);
    }
    15% {
      clip: rect(0, 133.33333px, 100px, 0);
    }
    20% {
      clip: rect(0, 300px, 100px, 0);
       opacity:1;
    }
  
    80% {
      clip: rect(0, 300px, 100px, 0);
       opacity:0;
    }
  
    90% {
      opacity: 0;
    }
  
    100% {
      clip: rect(0, 300px, 100px, 0);
      opacity:0;
   }
    
  }